body{
  margin: 0px;
  padding: 0px;
  font-family: Manrope, sans-serif;
}

.nav-middle{
  width:100%;
  height: 100px;
  display:flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: self-end;
  padding-left: 100px;
  padding-right: 100px;
}

.gruppa{
  width:100%;
  height: 80px;
  display:flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

.gruppa > div > a > img{
  width:100%;
  height:75px;
}

.item1{
  padding-right: 50px;
  height: auto;
}


.navbar-2{
  width:300px;
  height:50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid #F5F5F5;
  box-sizing: border-box;
}


.navbar-2 > div > a{
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 25px;
  justify-content: flex-end;
  width: 100px;
}


.item3{
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.main{
  width: 100%;
  height:500px;
  display: flex;
  margin: auto;
  gap:20px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.slider{
  width: 100%;
  height:500px;
  overflow:hidden;
}

.slides{
  width:500%;
  height:500px;
  display:flex;
  
}

.slides input{
  display:none;
  width:500%;
  
}

.slide{
  width:20%;
  transition:1s;
  display:flex;
  justify-content: center;
}

.slide img{
  width: 1100px;
  height:500px;
}

.navigation-manual{
 position: absolute;
 width:750px;
 margin-top:-40px;
 display:flex;
 justify-content: flex-end;
}

.manual-btn{
  border : 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right:40px;
}

.manual-btn:hover{
  background: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width:750px;
  justify-content: flex-end;
  margin-top: 460px;
}

.navigation-auto div{
  border:2px solid gray;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right:40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: white;
}

.shopByRoom>h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Rooms{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  box-sizing: border-box;
  gap:10px;
}

.Rooms > div > a > img{
width: 100%;
border-radius: 3px;
}

.Rooms > div > a{
  text-decoration: none;
  color: black;
}

#gray{
  color: #888888;
  font-size: 16px;
}

.inspire{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.inspire a{
  text-decoration: none;
}

#orange{
  color: #FF7035;
  text-decoration: none;
}

.trends{
  padding-left: 100px;
  margin-top: 30px;
}

.trends-cards{
  width: 100%;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  box-sizing: border-box;
  gap:10px;
}

.trends-cards > div > a > img{
  width:100%;
  border-radius: 3px;
}

.trends-cards > div > a{
  text-decoration: none;
  color: black;
}

.new-Arrivals{
  margin-top: 30px;
  padding-left: 100px;
}

.new-arrivals-cards{
  width: 100%;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  box-sizing: border-box;
  gap:10px;
}

.new-arrivals-cards > div > a > img{
  width:100%;
  border-radius: 3px;
}

.new-arrivals-cards > div > a{
  text-decoration: none;
  color: black;
}

.getSpringReady > h1{
  padding-left: 100px;
  margin-top: 20px;
}

.getSpringReady-card{
  width:100%;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  box-sizing: border-box;
}

.getSpringReady-card > div > a > img{
  width: 100%;
  border-radius: 3px;
}

.top-brands > h1{
  margin-top: 30px;
  padding-left: 100px;
}

.brand-card{
  width:100%;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:10px;
  box-sizing: border-box; 
}

.brand-card > div > a > img{
  width: 100%;
  border-radius: 3px;
}

.brand-card > div > a{
  text-decoration: none;
  color: black;
}

.customers-speak > h1{
  text-align: center;

  margin-top: 30px;
  margin-bottom: 30px;

  padding-left: 100px;
}

.customers-card{
  width:100%;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  box-sizing: border-box;
}

.customers-card > div > img{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

.customers-card > div > p:nth-child(2){
 font-size: 15px;
 text-align:justify;
 margin-bottom: 30px;
}

.customers-card > div > p:nth-child(3){
  line-height: 0%;
  font-size: 14px;
}

#gray-small{
  margin-top: 20px;
  color: #888888;
  font-size: 14px;
}

.app-footer{
  margin-top: 100px;

  width: 100%;
  color: #F3F5F7;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  background-color: #F3F5F7;
}

.accept{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accept > div >h3{
  color: black;
  font-size: 14px;
}
.accept > div > a > img{
 width:80%;
}

.ending{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 20px;
}
.ending > div{
  display: flex;
  gap:20px;
}
.ending > div > a > p{
 text-decoration: none;
 color: #888888;
 font-size: 14px;
}
.ending > div > a{
  text-decoration: none;
} 

nav>ul{
 display:flex;
}

nav>ul>li{
  padding:30px 20px;
  list-style: none;
}

nav>ul>li a{
  color:black;
  text-decoration: none;
  margin-right: 10px;
}

.navbar-2 div:hover .megamenu{
  opacity: 1;
  top:100%;
  visibility: visible;
  background-color: #F5F5F5;
}

@media screen and (min-width:500px) and (max-width:1000px){
  header{
      display: none;
  }
  .main{
      width: 100%;
      height:500px;
      display: flex;
      flex-direction: column;
      margin: auto;
      box-sizing: border-box; 
  }
  .Rooms{
      width: 100%;
      display: grid;
      margin: auto;
      grid-template-columns: repeat(2,1fr);
      box-sizing: border-box;
      gap:10px;
}

.trends-cards{
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}
.new-arrivals-cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  box-sizing: border-box;
  gap:10px;
}
.getSpringReady-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  box-sizing: border-box;
}
.brand-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  box-sizing: border-box; 
}

.customers-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  box-sizing: border-box;
}
}

@media screen and (min-width:100px) and (max-width:500px){
header{
  display: none;
}
.main{
  width: 100%;
  height:500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box; 
}
.Rooms{
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1,1fr);
}

.trends-cards{
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1,1fr);
}
.new-arrivals-cards{
  width: 100%;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  box-sizing: border-box;
  gap:10px;
}
.getSpringReady-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
  box-sizing: border-box;
}
.brand-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
  box-sizing: border-box; 
}

.customers-card{
  width:100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
  box-sizing: border-box;
}
}